@import url('https://fonts.googleapis.com/css?family=Barlow|Cinzel|Julius+Sans+One|Poiret+One|Quicksand|Raleway&display=swap');

/* My CSS Reset */
*{
	margin: 0;
	padding: 0;
	}

*, *:after, *:before{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #707070;
    text-transform: uppercase;
}

